/* Smartphones (portrait and landscape) ----------- */

/* iPads (landscape) ----------- */
/* @media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/* PC (portrait) ----------- */
/* @media only screen and (min-device-width : 1025px){} */



:root{
    --green     : #586232;
    --dark-green: #374F1D;
    --white     : #FEF9E0;
    --orange    : #B0802E;
}